@charset "utf-8";
/* CSS Document */

body {
	position:absolute;
	top:0px;
	margin:0px;
	padding:0px;
	width:100%;
	height:2000px;
	background-color: #e5e5e4;
}

.body-wrapper {
	display:block;
	margin:auto;
	width: 90%;
	height:100%;
}

.header {
	width:100%;
	height:150px;
	postion:fixed;
	top:0px;
	z-index:10;
}

.navbar {
	position:relative;
	height:100px;
	width:100%;
	transition: 0.5s ease;
}

.navbar .nav {
	margin:0px;
	padding:0px;
	display:inline-block;
	float:right
}

.navbar .nav .item {
	list-style: none;
	display:inline;
	font-size:18px;
	padding:5px;
	font-weight:300;
	line-height:80px;
	margin-right:20px;
	transition:0.5s ease;
}